<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
    <h2 style="text-align: center; padding-top:100px;">졸업할 수 있겠조?</h2>
        <div class="mid-alli">
            <form action="/auth/login" method="post">
                아이디
                <input name="id" class="input"></input>
                비밀번호
                <input name="pwd" class="input" type="password"></input>
                <input type="submit" class="input"></input>
            </form>
        </div>
        
    </body>
</html>